#about-title {
   font-size: xx-large;
  position: relative;
  left: 49%;
  top: 20px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.about-summary {
  flex: 50%;
  padding: 20px;
  height: 250px;
  font-size: large;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

#summary1 {
  position: relative;
  top: 100px;
}
#summary2 {
  position: relative;
  top: 150px; 
}

.example {
  height: 270px;
  width: auto;
  flex: 50%;
  padding: 10px;
  display: flex;
  margin: -50px auto 80px auto;
  
  
}

.rats {
  height: 250px;
  width: auto;
  flex: 50%;
  padding: 10px;
  margin: 50px auto 100px auto;
 display: flex;

  
}
